.footer {
  width: 100%;
  min-width: 1024px;
  height: 400px;
  @include media(sp) {
    height: auto;
    min-width: 320px;
  }
  padding: 0 0 10px 0;
  color: $white;
  background-color: #333;
  font-weight: 400;
  a {
    color: #fff;
    &:hover {
      opacity: 0.6;
      transition: all .3s ease-in-out;
    }
  }
  .footer-inner {
    width: 1024px;
    @include media(sp) {
      width: 96%;
    }
    margin: 0 auto;
    .footer-left, .footer-right {
      float: left;
      width: 50%;
      @include media(sp) {
        width: 100%;
      }
    }
    .footer-right {
      padding: 40px 0 0;
    }
  }
  .site-name {
    padding: 40px 0;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.1em;
    span {
      display: inline-block;
      padding: 0 12px;
      font-weight: 400;
    }
  }
  .footer-ttl {
    padding: 8px 0 10px 0;
    color: $green;
    letter-spacing: 0.2em;
  }
  .footer-ul {
    li {
      display: inline-block;
      margin: 0 0 10px 0;
      padding: 0 16px;
      &:nth-child(1) {
        padding: 0 16px 0 0;
      }
    }
    li+li {
      border-left: 1px #fff solid;
    }
  }
  .footer-category {
    margin: 0 0 30px 0;
  }
  .footer-insta {
    float: left;
    ul {
      width: 230px;
      @include media(sp) {
        width: 100%;
      }
      font-size: 0;
      li {
        display: inline-block;
        width: 110px;
        height: 110px;
        margin: 0 0 10px 0;
        @include media(sp) {
          width: 49%;
          height: auto;
        }
        &:nth-child(2n+1) {
          margin: 0 10px 10px 0;
          @include media(sp) {
            margin: 0 2% 10px 0;
          }
        }
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .facebook {
    float: left;
    width: 230px;
    margin: 32px 0 0 34px;
    @include media(sp) {
      width: 100%;
      margin: 30px 0 0;
    }
  }
  .copy {
    margin: 60px 0 0;
    text-align: center;
    color: #9b9b9b;
    font-size: 12px;
  }
}
