.sidebar {
	float: right;
	width: 250px;
	.recruit {
		img {
			width: 100%;
		}
	}
	.instagram {
		.font-sati {
			font-size: 18px;
		}
		height: 550px;
		width: 250px;
		overflow: hidden;
		margin: 10px 0;
		.slider {
			display: block;
			width: 100%;
			img {
				width: 100%;
				height: auto;
				display: block;
				margin-top: 10px;
			}
		}
	}
	.facebook {

	}
	.official {
		width: 250px;
		img {
			width: 100%;
		}
	}
}