.about-writer {
  font-weight: 400;
  @include media(sp) {
    text-align: center;
  }
  .post-writer-photo {
    float: left;
    width: 220px;
    height: 220px;
    @include media(sp) {
      float: none;
      width: 50%;
      height: auto;
      margin: 0 auto;
    }
    border-radius: 50%;
  }
  .about-writer-right {
    float: left;
    width: 450px;
    margin: 20px 0 0 46px;
    @include media(sp) {
      float: none;
      width: 96%;
      margin: 16px auto 0 auto;
    }
    .post-writer-position {
      display: block;
      margin: 0 0 10px 0;
      font-style: italic;
      color: $gray-light;
      letter-spacing: 0.1em;
    }
    .post-writer-name {
      font-size: 22px;
    }
    .post-writer-name-en {
      font-weight: bold;
      font-size: 13px;
      color: $gray-medium;
      letter-spacing: 0.1em;
      &:before {
        display: inline-block;
        content: "/";
        padding: 0 10px 0 14px;
      }
    }
    .post-writer-text {
      margin: 20px 0;
      line-height: 1.6em;
      text-align: left;
    }
    .post-writer-more {
      font-size: 16px;
    }
  }
}
