.a-text {
  a {
    color: inherit;
    transition: color .2s;
    &:hover {
      color: $green;
    }
  }
}

.a-img {
  overflow: hidden;
  transition: all .2s;
  &:hover {
    transform: scale(1.05);
  }
}


.a-focus {
  transition: border-color .2s;
  &:hover {
    border-color: $green;
  }
  &:focus {
    border-color: $green;
    outline: 0;
  }
}
