.a-text {
  color: inherit;
  transition: color .2s ease-in-out;
  &:hover {
    color: $green;
  }
}

.a-img {
  overflow: hidden;
  transition: all .3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}


.a-focus {
  transition: border-color .2s;
  &:hover {
    border-color: $green;
  }
  &:focus {
    border-color: $green;
    outline: 0;
  }
}
