.a-text-hover {
  color: $green;
}

.a-img-hover {
  transform: scale(1.05);
}

.a-text {
  color: inherit;
  display: inline-block;
  transition: all .3s ease-in-out;
  &:hover {
    @extend .a-text-hover;
  }
}

.a-img {
  overflow: hidden;
  transition: all .3s ease-in-out;
  &:hover {
    @extend .a-img-hover;
  }
}

.a-focus {
  transition: border-color .3s ease-in-out;
  &:hover {
    border-color: $green;
  }
  &:focus {
    border-color: $green;
    outline: 0;
  }
}

.a-button {
  transition: all .3s ease-in-out;
  &:hover {
    color: $white;
    background-color: $gray-light;
  }
}

.button {
  display: block;
  background-color: $white;
  border-color: $gray-dark;
  transition: all .3s ease-in-out;
  &:hover {
    background-color: $gray-dark;
    color: $white !important;
  }
}


// *-------メディアクエリ-------*

@mixin media($media-width) {
  @if $media-width == sp {
    @media only screen and (min-width: 320px) and (max-width: 599px){
      @content;
    }
  }
  @else if $media-width == pc {
    @media only screen and (min-width: 600px){
      @content;
    }
  }
}
