@import 'setting';
@import 'reset';
@import 'mixin';
@import 'base';
@import 'clearfix';
@import 'parts/sidebar';
@import 'parts/topAnime';

/* 以下にスタイルを記述
************************* */

body {
	font-family: YuGothic, '游ゴシック', sans-serif;
	font-weight: bold;
}

a {

}

.wrapper {
	width: 1000px;
	margin: 0 auto;
	.main {
		width: 720px;
		margin: 0 auto;
		background: #fff;
		.inner{
			width: 640px;
			margin: 40px auto 40px;
			font-size:1.3rem;
			line-height:1.8rem;
			.sub {
				float: left;
				font-size: 0;
				li {
					display: inline-block;
					font-size: 1rem;
					margin-left: 10px;
				}
			}
		}
	}
}

.header {
	width: 100vw;
	height: 50vh;
	background: url('../images/header/bg.jpg') center center/cover gray;
	.gnav {
		padding: 30px;
		.logo {
			float: left;
			width: 200px;
			img {
				width: 100%;
			}
		}
		.menu {
			float: right;
			font-size: 0;
			li {
				display: inline-block;
				font-size: 1rem;
				margin-left: 10px;
			}
		}
	}
}

.main {
	width: 720px;
	height: 300px;
	float: left;
}

.member-interview {
	font-size: 0;
	.member-interview-item {
		display: inline-block;
	}
}

.posts {
	padding: 30px 0;
	article {
		width: 236px;
		display: inline-block;
		.posts-thumb {
			float: left;
			width: 100%;
		}
		.posts-info {
			float: right;
			width: 236px;
			padding-top: 20px;
			padding-left: 10px;
			box-sizing: border-box;
			.category {
				display: inline-block;
				color: white;
				background-color: black;
				border-radius: 5px;
				padding: 8px;
			}
			.date {
				display: inline-block;
				margin-left: 20px;
			}
			.title {
				font-size: 14px;
				letter-spacing: 0.05em;
				margin-top: 10px;
				line-height: 1.4em;
			}
			.writer {
				.writer-name {
					display: inline-block;
					vertical-align: middle;
					float: right;
					font-size: 12px;
					.name {
						display: block;
						font-size: 16px;
						width: 100%;
						&:before {
							content: 'WRITER';
							letter-spacing: .05em;
							color: #ccc;
							display: inline-block;
							font-size: 14px;
							font-style: italic;
							margin-right: 10px;
							margin-bottom: 0.5em;
						}
					}
				}
				.writer-photo {
					display: inline-block;
					vertical-align: middle;
					width: 80px;
					border-radius: 50%;
					display: none;
				}
			}
		}
		&:first-child {
			width: 100%;
			margin-bottom: 30px;
			.posts-thumb {
				float: left;
				width: 474px;
			}
			.posts-info {
				float: right;
				width: 236px;
				padding-top: 20px;
				padding-left: 10px;
				box-sizing: border-box;
				.category {
					display: inline-block;
					color: white;
					background-color: black;
					border-radius: 5px;
					padding: 8px;
				}
				.date {
					display: inline-block;
					margin-left: 20px;
				}
				.title {
					font-size: 18px;
					letter-spacing: 0.05em;
					margin-top: 10px;
					line-height: 1.4em;
				}
				.writer {
					.writer-name {
						display: inline-block;
						vertical-align: middle;
						float: none;
						.name {
							display: block;
							font-size: 16px;
							width: 140px;
							&:before {
								content: 'WRITER';
								color: #ccc;
								display: block;
								font-size: 14px;
								font-style: italic;
								margin-right: 10px;
								margin-bottom: 0.5em;
							}
						}
					}
					.writer-photo {
						display: inline-block;
						vertical-align: middle;
						width: 80px;
						border-radius: 50%;
					}
				}
			}
		}
	}
}

.footer {
	width: 100%;
	text-align: center;
}

