#__bs_notify__ {
  display: none !important; // gulp通知削除
}

@import 'setting';
@import 'reset';
@import 'mixin';
@import 'base';
@import 'clearfix';
@import 'iconfont';
@import 'parts/header';
@import 'parts/sidebar';
@import 'parts/footer';
@import 'parts/writer';

body {
  &.index {
    .posts .post {
      &:nth-child(even) {
        margin-right: 20px;
        margin-left: 0;
      }
      @include media(pc) {
        &:first-child {
          position: relative;
          width: 720px;
          .post-anchor {
            width: 100%;
            margin-left: 0;
            padding-left: calc( 100% - 630px );
            box-sizing: border-box;
            .post-category {
              position: absolute;
              pointer-events: none;
              &:after {
                position: absolute;
                top: 60px;
                left: 0px;
                background-color: rgba(0,0,0,0);
              }
            }
            .post-thumb {
              width: 630px;
              height: 360px;
              .post-thumb-img {
                width: 100%;
              }
            }
            .post-info {
              position: absolute;
              top: 159px;
              left: 0;
              box-sizing: border-box;
              width: 46%;
              height: 169px;
              padding: 10px 20px;
              background-color: rgba(0,0,0,.75);
              color: $white;
              letter-spacing: 0.08em;
              .post-title {
                font-size: 16px;
                line-height: 1.6em;
                font-weight: bold;
                text-align: justify;
              }
              .post-writer {
                position: absolute;
                line-height: 1.1em;
                bottom: 20px;
                .post-writer-photo {
                  display: inline-block;
                  vertical-align: middle;
                  width: 40px;
                  border-radius: 50%;
                }
                .post-writer-info {
                  margin-left: 10px;
                  display: inline-block;
                  vertical-align: middle;
                  text-align: left;
                  .post-writer-title {
                    display: block;
                    font-style: italic;
                    font-size: 13px;
                  }
                  .post-writer-name {
                    display: block;
                    font-size: 14px;
                  }
                }
              }
            }
          }
          &.interview .post-category:after { content: url('../images/contents/category/interview.png'); }
          &.report .post-category:after { content: url('../images/contents/category/report.png'); }
          &.think .post-category:after { content: url('../images/contents/category/think.png'); }
          &.daily .post-category:after { content: url('../images/contents/category/daily.png'); }
          &.pr .post-category:after { content: url('../images/contents/category/pr.png'); }
        }
      }
    }
  }
}

.wrapper {
  width: 1024px;
  margin: 50px auto;
  padding-top: 360px;
  @include media(sp) {
    width: 100%;
  }
  .main {
    width: 720px;
    float: left;
    @include media(sp) {
      float: none;
      width: 96%;
      margin: 0 auto;
    }
  }
}

.hr-title {
  position: relative;
  padding: 66px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  .hr-title-inner {
    padding: 0 80px;
    background: #fff;
  }
  .hr-title-bold {
    font-weight: bold;
    padding: 0 8px 0 0;
  }
  &:before {
    content:"";
    display: block;
    position: absolute;
    z-index:-1;
    top: 50%;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
  }
  &:before {
    content:"";
    display: block;
    position: absolute;
    z-index:-1;
    top: 50%;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
  }
  &.archive-title {
    padding: 0 0 66px 0;
    &:before {
      top: 8%;
    }
  }
  &.category-title {
    padding: 0px 0 66px 0;
    &:before {
      top: 30%;
    }
  }
}

.posts {
  font-size: 0;
  .post {
    width: 350px;
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
    margin-bottom: 50px;
    @include media(sp) {
      position: relative;
      width: 100%;
    }
    &:nth-child(even) {
      margin-right: 0;
      margin-left: 20px;
    }
    .post-date {
      position: absolute;
      @include media(sp) {
        bottom: 23px;
        z-index: 1;
      }
      line-height: 1.4em;
      color: $gray-medium;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      .post-date-month {
        font-size: 15px;
        display: inline-block;
        vertical-align: top;
        font-weight: bold;
        &:after {
          content: '/';
          display: inline-block;
          vertical-align: top;
          margin-left: 2px;
        }
      }
      .post-date-day {
        font-size: 24px;
        display: block;
        font-weight: bold;
      }
      .post-date-youbi {
        font-size: 15px;
        text-align: center;
        letter-spacing: .6px;
        color: #bebebe;
        display: block;
      }
    }
    .post-anchor {
      width: 300px;
      margin-left: 350px - 300px;
      @include media(sp) {
        width: 100%;
        margin: 0;
      }
      color: $black;
      position: relative;
      .post-category {
        position: absolute;
        top: -5px;
        left: -5px;
        background-color: rgba(0,0,0,0);
        &:after {
          position: relative;
          display: inline-block;
          padding: 6px 12px;
          color: $white;
          font-size: 14px;
          font-weight: bold;
          background-color: rgba(0,0,0,.7);
          z-index: 1;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          @extend .a-text;
        }
      }
      .post-thumb {
        width: 100%;
        display: block;
        position: relative;
        overflow: hidden;
        .post-thumb-img {
          float: right;
          width: 100%;
          @extend .a-img;
        }
      }
      .post-info {
        letter-spacing: .08em;
        @include media(sp) {
          height: 102px;
          margin-left: 35px;
        }
        .post-title {
          margin: 12px 0 10px 0;
          line-height: 1.4em;
          font-weight: bold;
          font-size: 15px;
          text-decoration: none;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
        }
        .post-writer {
          text-align: right;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          .post-writer-photo {
            display: none;
          }
          .post-writer-info {
            .post-writer-title {
              margin-right: 10px;
              display: inline-block;
              font-size: 13px;
              color: $gray-light;
              font-style: italic;
            }
            .post-writer-name {
              display: inline-block;
              font-size: 14px;
            }
          }
        }
      }
    }
    &.interview .post-category:after { content: 'インタビュー'; }
    &.report .post-category:after { content: 'レポート'; }
    &.daily .post-category:after { content: '日々'; }
    &.pr .post-category:after { content: '広報'; }
    &.think .post-category:after { content: '考える'; }
  }
  .single-post {
    font-size: 1rem;
    .post-date {
      float: left;
      font-size: 22px;
      line-height: 1.4em;
      color: $gray-medium;
      margin-right: 20px;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      .post-date-month {
        font-size: 20px;
        display: inline-block;
        vertical-align: top;
        font-weight: bold;
        &:after {
          content: '/';
          display: inline-block;
          vertical-align: top;
          margin-left: 2px;
        }
      }
      .post-date-day {
        font-size: 30px;
        display: block;
        font-weight: bold;
      }
      .post-date-youbi {
        font-size: 18px;
        text-align: center;
        letter-spacing: .6px;
        color: #bebebe;
        display: block;
      }
    }
    .post-right{
      float: left;
      width: 640px;
      height: auto;
      .post-category {
        background-color: black;
        color: white;
        padding: 7px;
        margin-bottom:5px;
        @extend .a-text;
      }
      h1{
      font-size: 25px;
      font-weight: bold;
      line-height: 1.7em;
      padding: 5px 10px 10px 0;
      }
    }
    hr{
      width:100%;
      margin: 1.5em 0 3em;
      border: 1px solid $gray-light;
    }
    h2{
      font-size: 25px;
      font-weight: bold;
      line-height: 1.7em;
      background: $gray-light;
      padding: 25px;
      margin-bottom: 1.8em;
    }
    h3{
      font-size: 22px;
      font-weight: bold;
      line-height: 1.7em;
      border-left:7px solid $gray-light;
      padding: 20px;
      margin-bottom: 1.8em;
    }
    h4{
      font-size: 22px;
      font-weight: bold;
      line-height: 1.7em;
      border-bottom:1px solid $gray-light;
      padding: 15px;
      margin-bottom: 1.8em;
    }
    h5{
      font-size: 22px;
      font-weight: bold;
      line-height: 1.7em;
      margin-bottom: 1.8em;
    }
    h6{
      font-size: 20px;
      font-weight: bold;
      line-height: 1.7em;
      margin-bottom: 1.8em;
    }
    p{
      font-size: 16px;
      line-height: 1.8em;
      margin-bottom: 1.8em;
    }
    a{/*リンクされた文字*/
      color: $gray-medium;
      font-weight: bold;
      text-decoration:none;
    }
    a:visited {/*訪問後のリンク*/
      text-decoration:underline;
    }
    a:hover {/*マウスをのせたとき*/
      color:$green;
    }
    ul, ol {
        padding: 1.5em 4em;
        line-height: 3em;
        list-style-position: inside;
        margin: 2em 0 2em 2px;
        border: 1px solid $gray-light;
    }
    ul {
        list-style: circle;
    }
    ol {
        list-style: decimal;
    }
    li{
      padding: 0;
      margin: 0;
    }
    table{
      margin: 2em 0 2em 2px;
    }
    table, th, td {
      border: 1px solid $gray-light;
    }
    th {
      border-width: 0 1px 1px 0;

    }
    th, td {
      padding: 1.5em;
    }
    blockquote{
        color: $gray-medium;
        font-size: 15px;
        font-style: italic;
        background-color:#f6f6f6;
        padding: 2em;
        line-height: 1.9em;
        margin: 2em 0 2em 2px;
        border: 1px solid $gray-light;
    }
    img{
      max-width: 720px;
      height: auto;
      margin-bottom: 2em;
    }
    strong {
      background: linear-gradient(transparent 80%, $green 80%);
      font-weight: bold;
    }

    .sns-share {
      width: 720px;
      margin: 7em auto;
    }

    .bottom-h2{
      margin-bottom: 1em;
      color: $gray-dark;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 1.6px;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    } 
    .about-writer {
      width: 720px;
      .post-writer-photo {
        float: left;
        width: 120px;
        height: 120px;
        border-radius: 50%;
      }
      .about-writer-right {
        float: left;
        width: 580px;
        margin: 10px 0 40px 20px;
        .post-writer-position {
          display: block;
          margin: 0 0 10px 0;
          font-style: italic;
          color: $gray-light;
          letter-spacing: 0.1em;
        }
        .post-writer-name {
          font-size: 22px;
        }
        .post-writer-name-en {
          font-weight: bold;
          font-size: 13px;
          color: $gray-medium;
          letter-spacing: 0.1em;
          &:before {
            display: inline-block;
            content: "/";
            padding: 0 10px 0 14px;
          }
        }
        .post-writer-text {
          margin: 20px 0;
          line-height: 1.6em;
        }
      }
    }

    .related-posts {
      width: 720px;
      .article{
        height: 120px;
      }
      .related-post-thumb {
        float: left;
        width: 120px;
        height: 90px;
      }
      .related-post-info {
        float: left;
        width: 580px;
        margin: 0 0 10px 20px;
        .related-post-time{
          margin-bottom: 3px;
          font-size: 14px;
          color: $gray-medium;
          letter-spacing: 0.2em;
        }
        .related-post-title{
          font-size: 16px;
        }
      }
    }
  }
}

.no-article {
  display: none;
}

.pagination {
  width: 100%;
  text-align: center;
  font-size: 0;
  margin-top: 50px;
  @include media(sp) {
    margin: 20px 0 40px 0;
  }
  a {
    @extend .a-button;
  }
  .pagination-item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 0 3px;
    border: 1px solid $gray-light;
    width: 42px;
    height: 42px;
    line-height: 42px;
    @include media(sp) {
      width: 34px;
      height: 34px;
      line-height: 34px;
    }
    font-size: 18px;
    font-weight: bold;
    color: $gray-light;
    &.current {
      background-color: $green;
      border-color: $green;
      color: $white;
    }
  }
}
