<footer class="footer">
	<p>TOUCH<span>THE</span>CRAZY</p>
	<div>
	<p>CATEGORY</p>
		<ul>
			<li>日々</li>
			<li>インタビュー</li>
			<li>レポート</li>
			<li>考える</li>
			<li>広報</li>
		</ul>
	</div>
	<div>
		<p>COMPANY</p>
		<ul>
			<li>採用情報</li>
			<li>運営会社</li>
		</ul>
	</div>
	<div>
		<p>INSTAGRAM ACCOUNT</p>
		<ul>
			<li><a href="#"><img src="./images/common/footer/"></a></li>
			<li><a href="#"><img src="./images/common/footer/"></a></li>
			<li><a href="#"><img src="./images/common/footer/"></a></li>
			<li><a href="#"><img src="./images/common/footer/"></a></li>
		</ul>
	</div>
	<div class="facebook"></div>
	<p><small>&copy; 2016 TOUCH THE CRAZY</small></p>
</footer>
