<footer class="footer">
	<div class="footer-inner clearfix">
		<div class="footer-left">
			<p class="site-name">TOUCH<span>THE</span>CRAZY</p>
			<div class="footer-category">
			<p class="footer-ttl">CATEGORY</p>
				<ul class="footer-ul">
					<li><a href="">日々</a></li>
					<li><a href="">インタビュー</a></li>
					<li><a href="">レポート</a></li>
					<li><a href="">考える</a></li>
					<li><a href="">広報</a></li>
				</ul>
			</div>
			<p class="footer-ttl">COMPANY</p>
			<ul class="footer-ul">
				<li><a href="http://www.crazy.co.jp/join/" target="_blank">採用情報</a></li>
				<li><a href="http://www.crazy.co.jp/" target="_blank">運営会社</a></li>
			</ul>
		</div>
		<div class="footer-right clearfix">
			<div class="footer-insta">
				<p class="footer-ttl">INSTAGRAM ACCOUNT</p>
				<ul>
					<li><a href="https://www.instagram.com/crazy_wedding/" target="_blank"><img src="./images/common/footer/insta_01.png"></a></li>
					<li><a href="https://www.instagram.com/crazyweddingwest/" target="_blank"><img src="./images/common/footer/insta_02.png"></a></li>
					<li><a href="https://www.instagram.com/crazycafe_blank/" target="_blank"><img src="./images/common/footer/insta_03.png"></a></li>
					<li><a href="https://www.instagram.com/crazy_kitchen_insta/" target="_blank"><img src="./images/common/footer/insta_04.png"></a></li>
				</ul>
			</div>
			<div class="facebook">
				<div class="fb-page" data-href="https://www.facebook.com/crazyincjapan/?fref=ts" data-tabs="timeline" data-width="240" data-height="230" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/crazyincjapan/?fref=ts" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/crazyincjapan/?fref=ts">CRAZY, Inc.（株式会社CRAZY）</a></blockquote></div>
			</div>
		</div>
	</div>
	<p class="copy"><small>&copy; 2016 TOUCH THE CRAZY</small></p>
</footer>
