<footer class="footer">
	<p class="site-name">TOUCH<span>THE</span>CRAZY</p>
	<div>
	<p class="footer-ttl">CATEGORY</p>
		<ul>
			<li><a href="">日々</a></li>
			<li><a href="">インタビュー</a></li>
			<li><a href="">レポート</a></li>
			<li><a href="">考える</a></li>
			<li><a href="">広報</a></li>
		</ul>
	</div>
	<div>
		<p class="footer-ttl">COMPANY</p>
		<ul>
			<li><a href="">採用情報</a></li>
			<li><a href="">運営会社</a></li>
		</ul>
	</div>
	<div>
		<p class="footer-ttl">INSTAGRAM ACCOUNT</p>
		<ul>
			<li><a href="#"><img src="./images/common/footer/"></a></li>
			<li><a href="#"><img src="./images/common/footer/"></a></li>
			<li><a href="#"><img src="./images/common/footer/"></a></li>
			<li><a href="#"><img src="./images/common/footer/"></a></li>
		</ul>
	</div>
	<div class="facebook"></div>
	<p><small>&copy; 2016 TOUCH THE CRAZY</small></p>
</footer>
