<footer class="footer">
	<section class="footer-inner clearfix">
		<p class="logo-white"><img src="./images/footer/logo_white.png" alt="CRAZY"></p>
		<ul class="category-list clearfix">
			<li>日々</li>
			<li>インタビュー</li>
			<li>レポート</li>
			<li>考える</li>
			<li>広報</li>
		</ul>
		<ul class="info-list clearfix">
			<li>会社情報</li>
			<li>採用情報</li>
		</ul>
		<div class="footer-right">
			<span class="sns-follow">Follow us!</span>
			<ul class="sns-list clearfix">
				<li><a href="" target="_blank"><img src="./images/footer/fb_icon.png" alt="facebook"></a></li>
				<li><a href="" target="_blank"><img src="./images/footer/tw_icon.png"></a></li>
				<li><a href="" target="_blank"><img src="./images/footer/insta_icon.png"></a></li>
			</ul>
			<p class="copyright">&copy; 2016 Crazy.</p>
		</div>
	</section>
</footer>