<meta charset="UTF-8">
<title>TOUCH THE CRAZY｜株式会社CRAZY</title>

<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" rel="stylesheet">
<link rel="stylesheet" href="./css/style.css">
<link rel="icon" type="image/vnd.microsoft.icon" href="./images/common/favicon.ico">
<link rel="apple-touch-icon" href="./images/common/apple-touch-icon.png">
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
