<header class="header clearfix">
	<nav class="gnav">
		<h1 class="logo">
			<a href="http://crazy.co.jp"><img src="./images/header/logo.png"></a>
		</h1>
		<ul class="menu">
			<li><a href=".html">日々</a></li>
			<li><a href=".html">インタビュー</a></li>
			<li><a href=".html">レポート</a></li>
			<li><a href=".html">考える</a></li>
			<li><a href=".html">広報</a></li>
		</ul>
	</nav>
</header>
