<header class="header clearfix">
	<div class="portrait-visual js-portrait-visual">
		<div class="portrait-overlay"></div>
		<img src="./images/common/header/mv/portrait.png">
		<img src="./images/common/header/mv/portrait.png">
		<img src="./images/common/header/mv/portrait.png">
		<img src="./images/common/header/mv/portrait.png">
		<img src="./images/common/header/mv/portrait.png">
		<img src="./images/common/header/mv/portrait.png">
		<img src="./images/common/header/mv/portrait.png">
		<img src="./images/common/header/mv/portrait.png">
		<img src="./images/common/header/mv/portrait.png">
		<img src="./images/common/header/mv/portrait.png">
		<img src="./images/common/header/mv/portrait.png">
		<img src="./images/common/header/mv/portrait.png">
		<img src="./images/common/header/mv/portrait.png">
		<img src="./images/common/header/mv/portrait.png">
		<img src="./images/common/header/mv/portrait.png">
		<img src="./images/common/header/mv/portrait.png">
		<img src="./images/common/header/mv/portrait.png">
		<img src="./images/common/header/mv/portrait.png">
		<img src="./images/common/header/mv/portrait.png">
		<img src="./images/common/header/mv/portrait.png">
		<img src="./images/common/header/mv/portrait.png">
		<img src="./images/common/header/mv/portrait.png">
	</div>
	<nav class="gnav clearfix">
		<form class="search" role="search" method="get" id="searchform" action="">
			<input class="search-form" type="text" value="" name="s" id="s">
			<input class="search-button" type="submit" id="searchsubmit" value="検索">
		</form>
		</div>
		<h1 class="logo">
			<a href="http://crazy.co.jp"><img src="./images/common/header/logo.png"></a>
		</h1>
		<ul class="menu">
			<li><a href=".html">日々</a></li>
			<li><a href=".html">インタビュー</a></li>
			<li><a href=".html">レポート</a></li>
			<li><a href=".html">考える</a></li>
			<li><a href=".html">広報</a></li>
		</ul>
	</nav>
</header>
