<header class="header clearfix bigger">
	<div class="portrait-visual">
		<div class="portrait-overlay"></div>
		<img src="./images/header/portrait.png">
		<img src="./images/header/portrait.png">
		<img src="./images/header/portrait.png">
		<img src="./images/header/portrait.png">
		<img src="./images/header/portrait.png">
		<img src="./images/header/portrait.png">
		<img src="./images/header/portrait.png">
		<img src="./images/header/portrait.png">
		<img src="./images/header/portrait.png">
		<img src="./images/header/portrait.png">
		<img src="./images/header/portrait.png">
		<img src="./images/header/portrait.png">
		<img src="./images/header/portrait.png">
		<img src="./images/header/portrait.png">
		<img src="./images/header/portrait.png">
		<img src="./images/header/portrait.png">
		<img src="./images/header/portrait.png">
		<img src="./images/header/portrait.png">
		<img src="./images/header/portrait.png">
		<img src="./images/header/portrait.png">
		<img src="./images/header/portrait.png">
		<img src="./images/header/portrait.png">
	</div>
	<nav class="gnav clearfix">
		<div class="search">
			<input class="search-form" type="text">
			<span class="search-button" href="">検索</span>
		</div>
		<h1 class="logo">
			<a href="http://crazy.co.jp"><img src="./images/header/logo.png"></a>
		</h1>
		<ul class="menu">
			<li><a href=".html">日々</a></li>
			<li><a href=".html">インタビュー</a></li>
			<li><a href=".html">レポート</a></li>
			<li><a href=".html">考える</a></li>
			<li><a href=".html">広報</a></li>
		</ul>
	</nav>
</header>
