<header class="header clearfix">
	<div class="video">
		<div class="video-overlay"></div>
		<video class="video-visual" preload="auto" poster="./videos/poster.png" autoplay loop muted>
			<source src="./videos/video.mp4">
			<source src="http://zuboraism.com/video/video2.ogv">
			<source src="http://zuboraism.com/video/video3.webm">
			<p>※動画を再生するには、HTML5のvideo要素をサポートした最新のブラウザが必要です。</p>
		</video>
	</div>
	<p class="catchcopy">クレイジーな生き方に触れる</p>
	<nav class="gnav clearfix">
		<form class="search" role="search" method="get" id="searchform" action="">
			<input class="search-form" type="text" value="" name="s" id="s" autocomplete="off">
			<label for="search-button" class="search-button-label">
				<span class="icon icon-search"></span>
			</label>
			<input class="search-button" type="submit" id="search-button" value="">
		</form>
		</div>
		<h1 class="logo">
			<a href="http://crazy.co.jp"><span class="site-name">TOUCH <span>THE</span> CRAZY</span></a>
		</h1>
		<ul class="menu">
			<li><a href="category.html">日々</a></li>
			<li><a href="category.html">インタビュー</a></li>
			<li><a href="category.html">レポート</a></li>
			<li><a href="category.html">考える</a></li>
			<li><a href="category.html">広報</a></li>
		</ul>
	</nav>
</header>
