<div class="pagination">
  <a class="pagination-item" href="">1</a>
  <span class="pagination-item icon icon-dot"></span>
  <a class="pagination-item" href="">4</a>
  <a class="pagination-item current" href="">5</a>
  <a class="pagination-item" href="">6</a>
  <span class="pagination-item icon icon-dot"></span>
  <a class="pagination-item" href="">23</a>
</div>
