<article class="post interview clearfix">
  <div class="post-date">
    <span class="post-date-month">10</span>
    <span class="post-date-day">23</span>
    <span class="post-date-youbi">Fri</span>
  </div>
  <div class="post-anchor clearfix js-post-anchor">
    <a class="a-text post-category" href="category.html"></a>
    <div class="post-thumb clearfix">
      <a href="article.html"><img class="js-post-thumb post-thumb-img" src="./images/contents/thumb/thumb.png"></a>
    </div>
    <div class="post-info">
      <a class="a-text js-post-title-wrapper" href="article.html">
        <h3 class="post-title js-post-title">成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か</h3>
      </a>
      <div class="post-writer">
        <a class="a-text" href="writer.html">
          <img class="post-writer-photo" src="./images/contents/writer/profile.png">
          <div class="post-writer-info">
            <p class="post-writer-title">WRITER</p>
            <p class="post-writer-name">渡辺さゆり</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</article>

