<aside class="sidebar">
  <section class="popular-posts sidebar-item">
    <h3 class="sidebar-title">POPULAR</h3>
    <article class="clearfix">
      <a class="a-text" href="article.html">
        <div class="popular-post-thumb"><img src="./images/contents/thumb/thumb.png"></div>
        <p class="popular-post-title">成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か</p>
      </a>
    </article>
    <article class="clearfix">
      <a class="a-text" href="article.html">
        <div class="popular-post-thumb"><img src="./images/contents/thumb/thumb.png"></div>
        <p class="popular-post-title">成功が約束された90点の未来か、100点を超える未来か</p>
      </a>
    </article>
    <article class="clearfix">
      <a class="a-text" href="article.html">
        <div class="popular-post-thumb"><img src="./images/contents/thumb/thumb.png"></div>
        <p class="popular-post-title">成功が約束された90点の未来か</p>
      </a>
    </article>
    <article class="clearfix">
      <a class="a-text" href="article.html">
        <div class="popular-post-thumb"><img src="./images/contents/thumb/thumb.png"></div>
        <p class="popular-post-title">成功が約束された90点の未来か</p>
      </a>
    </article>
    <article class="clearfix">
      <a class="a-text" href="article.html">
        <div class="popular-post-thumb"><img src="./images/contents/thumb/thumb.png"></div>
        <p class="popular-post-title">成功が約束された90点の未来か</p>
      </a>
    </article>
  </section>

  <section class="instagram sidebar-item">
    <h3 class="sidebar-title">INSTAGRAM</h3>
    <div class="instagram-wrapper">
      <div class="js-insta-slider slider">
        <img src="./images/common/sidebar/instagram/i1.jpg"><img src="./images/common/sidebar/instagram/i2.jpg"><img src="./images/common/sidebar/instagram/i3.jpg"><img src="./images/common/sidebar/instagram/i4.jpg"><img src="./images/common/sidebar/instagram/i5.jpg"><img src="./images/common/sidebar/instagram/i6.jpg"><img src="./images/common/sidebar/instagram/i7.jpg"><img src="./images/common/sidebar/instagram/i1.jpg"><img src="./images/common/sidebar/instagram/i2.jpg"><img src="./images/common/sidebar/instagram/i3.jpg"><img src="./images/common/sidebar/instagram/i4.jpg"><img src="./images/common/sidebar/instagram/i5.jpg"><img src="./images/common/sidebar/instagram/i6.jpg"><img src="./images/common/sidebar/instagram/i7.jpg"><img src="./images/common/sidebar/instagram/i1.jpg"><img src="./images/common/sidebar/instagram/i2.jpg"><img src="./images/common/sidebar/instagram/i3.jpg"><img src="./images/common/sidebar/instagram/i4.jpg"><img src="./images/common/sidebar/instagram/i5.jpg"><img src="./images/common/sidebar/instagram/i6.jpg"><img src="./images/common/sidebar/instagram/i7.jpg">
      </div>
    </div>
  </section>

  <section class="company sidebar-item">
    <img class="checkit" src="./images/common/sidebar/crazy/checkit.png">
    <h3 class="sidebar-title">COMPANY</h3>
    <a href="http://www.crazy.co.jp/join/" target="_blank"><img class="banner" src="./images/common/sidebar/crazy/recruit.png"></a>
    <a href="http://www.crazy.co.jp/" target="_blank"><img class="banner" src="./images/common/sidebar/crazy/company.png"></a>
  </section>
</aside>
