<aside class="sidebar">
  <section class="popular-posts sidebar-item">
    <h3 class="sidebar-title">POPULAR</h3>
    <article class="clearfix">
      <div class="popular-post-thumb"><img src="./images/top/posts/thumb/thumb.png"></div>
      <p class="popular-post-title">成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か</p>
    </article>
    <article class="clearfix">
      <div class="popular-post-thumb"><img src="./images/top/posts/thumb/thumb.png"></div>
      <p class="popular-post-title">成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か</p>
    </article>
    <article class="clearfix">
      <div class="popular-post-thumb"><img src="./images/top/posts/thumb/thumb.png"></div>
      <p class="popular-post-title">成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か</p>
    </article>
  </section>
  <section class="instagram sidebar-item">
    <h3 class="sidebar-title">INSTAGRAM</h3>
    <div class="instagram-wrapper">
      <div class="js-slider slider">
        <img src="./images/instagram/i1.jpg"><img src="./images/instagram/i2.jpg"><img src="./images/instagram/i3.jpg"><img src="./images/instagram/i4.jpg"><img src="./images/instagram/i5.jpg"><img src="./images/instagram/i6.jpg"><img src="./images/instagram/i7.jpg"><img src="./images/instagram/i1.jpg"><img src="./images/instagram/i2.jpg"><img src="./images/instagram/i3.jpg"><img src="./images/instagram/i4.jpg"><img src="./images/instagram/i5.jpg"><img src="./images/instagram/i6.jpg"><img src="./images/instagram/i7.jpg"><img src="./images/instagram/i1.jpg"><img src="./images/instagram/i2.jpg"><img src="./images/instagram/i3.jpg"><img src="./images/instagram/i4.jpg"><img src="./images/instagram/i5.jpg"><img src="./images/instagram/i6.jpg"><img src="./images/instagram/i7.jpg">
      </div>
    </div>
  </section>
  <section class="company sidebar-item">
    <h3 class="sidebar-title">COMPANY</h3>
    <img class="banner" src="./images/recruit/recruit.png">
    <img class="banner" src="./images/crazy/crazy.png">
    <div class="facebook">
      <div class="fb-page" data-href="https://www.facebook.com/crazyincjapan" data-width="250" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/crazyincjapan" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/crazyincjapan">CRAZY, Inc.（株式会社CRAZY）</a></blockquote></div>
    </div>
  </section>
</aside>
