<aside class="sidebar">
  <section class="popular-posts sidebar-item">
    <h3 class="sidebar-title">POPULAR</h3>
    <article class="clearfix">
      <a class="a-text" href="article.html">
        <div class="popular-post-thumb"><img src="./images/contents/thumb/thumb.png"></div>
        <p class="popular-post-title">成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か</p>
      </a>
    </article>
    <article class="clearfix">
      <a class="a-text" href="article.html">
        <div class="popular-post-thumb"><img src="./images/contents/thumb/thumb.png"></div>
        <p class="popular-post-title">成功が約束された90点の未来か、100点を超える未来か</p>
      </a>
    </article>
    <article class="clearfix">
      <a class="a-text" href="article.html">
        <div class="popular-post-thumb"><img src="./images/contents/thumb/thumb.png"></div>
        <p class="popular-post-title">成功が約束された90点の未来か</p>
      </a>
    </article>
    <article class="clearfix">
      <a class="a-text" href="article.html">
        <div class="popular-post-thumb"><img src="./images/contents/thumb/thumb.png"></div>
        <p class="popular-post-title">成功が約束された90点の未来か</p>
      </a>
    </article>
    <article class="clearfix">
      <a class="a-text" href="article.html">
        <div class="popular-post-thumb"><img src="./images/contents/thumb/thumb.png"></div>
        <p class="popular-post-title">成功が約束された90点の未来か</p>
      </a>
    </article>
  </section>

  <section class="instagram sidebar-item">
    <h3 class="sidebar-title">INSTAGRAM</h3>
    <div class="instagram-wrapper">
      <div class="js-instagram-slider slider">
        <div class="instagram-data js-instagram-data">
          <a class="instagram-data-link" href="https://www.instagram.com/p/BDxn6b4Pi4c/" target="_blank"> <!-- リンク先はdata[].link -->
            <img class="instagram-data-images-standard_resolution" src="./images/common/sidebar/instagram/standard_resolution7.jpg">
            <div class="instagram-data-caption">
              <p class="instagram-data-caption-created_time">2016.11.10</p> <!-- jsonはエポック秒です。年月日に変換してください。 -->
              <p class="instagram-data-caption-text">成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か</p>
            </div>
          </a>
        </div>
        <div class="instagram-data js-instagram-data">
          <a class="instagram-data-link" href="https://www.instagram.com/p/BDxn6b4Pi4c/" target="_blank">
            <img class="instagram-data-images-standard_resolution" src="./images/common/sidebar/instagram/standard_resolution2.jpg">
            <div class="instagram-data-caption">
              <p class="instagram-data-caption-created_time">2016.11.10</p>
              <p class="instagram-data-caption-text">成功が約束された9失敗するかもしれない100点を超える未来か</p>
            </div>
          </a>
        </div>
        <div class="instagram-data js-instagram-data">
          <a class="instagram-data-link" href="https://www.instagram.com/p/BDxn6b4Pi4c/" target="_blank">
            <img class="instagram-data-images-standard_resolution" src="./images/common/sidebar/instagram/standard_resolution3.jpg">
            <div class="instagram-data-caption">
              <p class="instagram-data-caption-created_time">2016.11.10</p>
              <p class="instagram-data-caption-text">成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か</p>
            </div>
          </a>
        </div>
        <div class="instagram-data js-instagram-data">
          <a class="instagram-data-link" href="https://www.instagram.com/p/BDxn6b4Pi4c/" target="_blank"> <!-- リンク先はdata[].link -->
            <img class="instagram-data-images-standard_resolution" src="./images/common/sidebar/instagram/standard_resolution7.jpg">
            <div class="instagram-data-caption">
              <p class="instagram-data-caption-created_time">2016.11.10</p> <!-- jsonはエポック秒です。年月日に変換してください。 -->
              <p class="instagram-data-caption-text">成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か</p>
            </div>
          </a>
        </div>
        <div class="instagram-data js-instagram-data">
          <a class="instagram-data-link" href="https://www.instagram.com/p/BDxn6b4Pi4c/" target="_blank">
            <img class="instagram-data-images-standard_resolution" src="./images/common/sidebar/instagram/standard_resolution2.jpg">
            <div class="instagram-data-caption">
              <p class="instagram-data-caption-created_time">2016.11.10</p>
              <p class="instagram-data-caption-text">成功が約束された9失敗するかもしれない100点を超える未来か</p>
            </div>
          </a>
        </div>
        <div class="instagram-data js-instagram-data">
          <a class="instagram-data-link" href="https://www.instagram.com/p/BDxn6b4Pi4c/" target="_blank">
            <img class="instagram-data-images-standard_resolution" src="./images/common/sidebar/instagram/standard_resolution3.jpg">
            <div class="instagram-data-caption">
              <p class="instagram-data-caption-created_time">2016.11.10</p>
              <p class="instagram-data-caption-text">成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か</p>
            </div>
          </a>
        </div>

      </div>
    </div>
  </section>

  <section class="company sidebar-item">
    <img class="checkit" src="./images/common/sidebar/crazy/checkit.png">
    <h3 class="sidebar-title">COMPANY</h3>
    <a href="http://www.crazy.co.jp/join/" target="_blank"><img class="banner" src="./images/common/sidebar/crazy/recruit.png"></a>
    <a href="http://www.crazy.co.jp/" target="_blank"><img class="banner" src="./images/common/sidebar/crazy/company.png"></a>
  </section>
</aside>
