<aside class="sidebar">
  <section class="recruit">
  <section class="recruit" style="position: relative">
    <img src="./images/recruit/recruit.png">
  </section>
  <section class="instagram">
    <div class="js-slider slider">
      <img src="./images/instagram/i1.jpg">
      <img src="./images/instagram/i2.jpg">
      <img src="./images/instagram/i3.jpg">
      <img src="./images/instagram/i4.jpg">
      <img src="./images/instagram/i5.jpg">
      <img src="./images/instagram/i6.jpg">
      <img src="./images/instagram/i7.jpg">
      <img src="./images/instagram/i1.jpg">
      <img src="./images/instagram/i2.jpg">
      <img src="./images/instagram/i3.jpg">
      <img src="./images/instagram/i4.jpg">
      <img src="./images/instagram/i5.jpg">
      <img src="./images/instagram/i6.jpg">
      <img src="./images/instagram/i7.jpg">
      <img src="./images/instagram/i1.jpg">
      <img src="./images/instagram/i2.jpg">
      <img src="./images/instagram/i3.jpg">
      <img src="./images/instagram/i4.jpg">
      <img src="./images/instagram/i5.jpg">
      <img src="./images/instagram/i6.jpg">
      <img src="./images/instagram/i7.jpg">
    </div>
  </section>
  <section class="facebook">
    <div class="fb-page" data-href="https://www.facebook.com/crazyincjapan" data-width="250" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/crazyincjapan" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/crazyincjapan">CRAZY, Inc.（株式会社CRAZY）</a></blockquote></div>
  </section>
  <section class="official">
    <img src="./images/crazy/crazy.png">
  </section>
</aside>
