<div class="topAnime">
	<div class="circle work js-circle js-left">働くこと</div>
	<div class="circle live js-circle js-right">
		生きること
		<img class="js-top-logo" src="./images/header/logo.png" alt="">
	</div>
</div>
