<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body class="clearfix">
<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.7";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<div class="wrapper">
		<% include _header %>

		<main class="main">
			ここは記事詳細ページ
		</main>

		<aside class="sidebar">
			<section class="recruit">
				<img src="http://www.zeal-a.jp/images/recruit2016_bnr.jpg">
			</section>
			<section class="instagram">
				<div class="js-slider slider">
					<img src="./images/instagram/i1.jpg">
					<img src="./images/instagram/i2.jpg">
					<img src="./images/instagram/i3.jpg">
					<img src="./images/instagram/i4.jpg">
					<img src="./images/instagram/i5.jpg">
					<img src="./images/instagram/i6.jpg">
					<img src="./images/instagram/i7.jpg">
					<img src="./images/instagram/i1.jpg">
					<img src="./images/instagram/i2.jpg">
					<img src="./images/instagram/i3.jpg">
					<img src="./images/instagram/i4.jpg">
					<img src="./images/instagram/i5.jpg">
					<img src="./images/instagram/i6.jpg">
					<img src="./images/instagram/i7.jpg">
					<img src="./images/instagram/i1.jpg">
					<img src="./images/instagram/i2.jpg">
					<img src="./images/instagram/i3.jpg">
					<img src="./images/instagram/i4.jpg">
					<img src="./images/instagram/i5.jpg">
					<img src="./images/instagram/i6.jpg">
					<img src="./images/instagram/i7.jpg">
				</div>
			</section>
			<section class="facebook">
				<div class="fb-page" data-href="https://www.facebook.com/crazyincjapan" data-width="250" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/crazyincjapan" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/crazyincjapan">CRAZY, Inc.（株式会社CRAZY）</a></blockquote></div>
			</section>
			<section class="official">
				<img src="http://www.zeal-a.jp/images/recruit2016_bnr.jpg">
			</section>
		</aside>

		<% include _footer %>
	</div> 
	<% include _script %>
</body>
</html>
