<!DOCTYPE html>
<html lang="jp">
<head>
  <% include _head %>
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.7";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <% include _header %>
  <div class="wrapper clearfix">
    <main class="main">
      <section class="posts">

			<article class="single-post">
				<h1></h1>
				<h2></h2>
				<h3></h3>
				<h4></h4>
				<h5></h5>
				<h6></h6>
				<p></p>
				<a href=""></a>
				<ul>
					<li></li>
				</ul>
				<ol>
					<li></li>
				</ol>
				<table>
					<tr>
						<th></th>
						<td></td>
					</tr>
				</table>
				<blockquote></blockquote>
				<img src="">
				<strong></strong>
				<em></em>
			</article>

      </section>
      <section class="pagination">1,2,3,4,5,,,,</section>
    </main>
    <% include _sidebar %>
  </div>
  <% include _footer %>
  <% include _script %>
</body>
</html>
