<!DOCTYPE html>
<html lang="jp">
<head>
  <% include _head %>
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.7";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <% include _header %>
  <div class="wrapper clearfix">
    <main class="main">
      <section class="posts">

			<article class="single-post">
				<div class="post-date">
		            <span class="post-date-month">10</span>
		            <span class="post-date-day">23</span>
		            <span class="post-date-youbi">Fri</span>
		        </div>

				<h1>(見出し1)大阪市内からはじまった物件探しは、淀川を大きく越えて北摂へ</h1>
				<h2>(見出し2)大阪市内からはじまった物件探しは、淀川を大きく越えて北摂へ</h2>
				<h3>(見出し3)大阪市内からはじまった物件探しは、淀川を大きく越えて北摂へ大阪市内からはじまった物件探しは、淀川を大きく越えて北摂へ</h3>
				<h4>(見出し4)大阪市内からはじまった物件探しは、淀川を大きく越えて北摂へ大阪市内からはじまった物件探しは、淀川を大きく越えて北摂へ</h4>
				<h5>(見出し5)大阪市内からはじまった物件探しは、淀川を大きく越えて北摂へ大阪市内からはじまった物件探しは、淀川を大きく越えて北摂へ</h5>
				<h6>(見出し6)大阪市内からはじまった物件探しは、淀川を大きく越えて北摂へ大阪市内からはじまった物件探しは、淀川を大きく越えて北摂へ</h6>
				
				<p>
					MASAHIROさんとAYAKAさんは、北緑丘団地で二人暮らし。南大阪で育ったMASAHIROさんの「北への憧れ」が高じて、大阪市内からはじまった物件探しは、淀川を大きく越えて北摂へ。DIYもやってみたいと思っていたふたりにとって北緑丘団地はうってつけの住まいでした。
				</p>
				
				<a href="">CRAZY WEBSITE</a>
				
				<ul>
					<li>リスト1</li>
					<li>リスト2</li>
					<li>リスト3</li>
				</ul>
				
				<ol>
					<li>数字リスト1</li>
					<li>数字リスト2</li>
					<li>数字リスト3</li>
				</ol>
				
				<table>
					<tr>
						<th>見出し1</th>
						<th>見出し2</th>
						<th>見出し3</th>
					</tr>
					<tr>
						<td>要素1</td>
						<td>要素2</td>
						<td>要素3</td>
					</tr>
					<tr>
						<td>要素1</td>
						<td>要素2</td>
						<td>要素3</td>
					</tr>
				</table>

				<blockquote>MASAHIROさんとAYAKAさんは、北緑丘団地で二人暮らし。南大阪で育ったMASAHIROさんの「北への憧れ」が高じて、大阪市内からはじまった物件探しは、淀川を大きく越えて北摂へ。DIYもやってみたいと思っていたふたりにとって北緑丘団地はうってつけの住まいでした。</blockquote>
				<img src="">
				<strong></strong>
				<em></em>
			</article>

      </section>
      <section class="pagination">1,2,3,4,5,,,,</section>
    </main>
    <% include _sidebar %>
  </div>
  <% include _footer %>
  <% include _script %>
</body>
</html>
