<!DOCTYPE html>
<html lang="jp">
<head>
  <% include _head %>
</head>
<body>
  <% include _fb-likebox %>
  <% include _header %>
  <div class="wrapper clearfix">
    <main class="main">
      <p class="category-title hr-title clearfix">
        <span class="hr-title-inner hr-title-pc">
          <img src="./images/contents/category/h2/interview.png">
        </span>
        <span class="hr-title-inner hr-title-bold hr-title-sp">INTERVIEW</span>
      </p>
      <section class="posts">

        <% include _post %>
        <% include _post %>
        <% include _post %>
        <% include _post %>
        <% include _post %>
        <% include _post %>
        <% include _post %>
        <% include _post %>
        <% include _post %>
        <% include _post %>

      </section>
      <% include _pagination %>
    </main>
    <% include _sidebar %>
  </div>
  <% include _footer %>
  <% include _script %>
</body>
</html>
