<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body>
	<% include _header %>
	<main class="main">
		<div class="instagram">
			<ul class="js-slider">
				<li>
					<img src="./images/instagram/i1.jpg">
					<img src="./images/instagram/i2.jpg">
					<img src="./images/instagram/i3.jpg">
					<img src="./images/instagram/i4.jpg">
					<img src="./images/instagram/i5.jpg">
					<img src="./images/instagram/i6.jpg">
					<img src="./images/instagram/i7.jpg">
					<img src="./images/instagram/i1.jpg">
					<img src="./images/instagram/i2.jpg">
					<img src="./images/instagram/i3.jpg">
					<img src="./images/instagram/i4.jpg">
					<img src="./images/instagram/i5.jpg">
					<img src="./images/instagram/i6.jpg">
					<img src="./images/instagram/i7.jpg">
					<img src="./images/instagram/i1.jpg">
					<img src="./images/instagram/i2.jpg">
					<img src="./images/instagram/i3.jpg">
					<img src="./images/instagram/i4.jpg">
					<img src="./images/instagram/i5.jpg">
					<img src="./images/instagram/i6.jpg">
					<img src="./images/instagram/i7.jpg">
				</li>
			</ul>
		</div>
	</main>
	<% include _footer %>
	<% include _script %>
</body>
</html>
