<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body class="clearfix">
	<% include _topAnime %>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.7";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	
	<% include _header %>
	<div class="wrapper clearfix">
		<main class="main">
			<section class="member-interview">
				<div class="member-interview-item">
					<img src="./images/top/member1.png">
					<img src="./images/top/member2.png">
					<img src="./images/top/member3.png">
				</div>
			</section>
			<section class="posts interview">
				<article class="clearfix">
					<img class="posts-thumb" src="./images/top/posts/thumb/thumb.png">
					<div class="posts-info">
						<span class="category">インタビュー</span>
						<span class="date">2016/09/10</span>
						<h3 class="title">
							＜CRAZY LIFE LAB＞成功が約束された９０点の未来か、失敗するかもしれない１００点を超える未来か
						</h3>
						<div class="writer clearfix">
							<div class="writer-name">
								<span class="name">渡辺さゆり</span>
							</div>
							<img class="writer-photo" src="http://wadaiko-sai.com/wp-content/uploads/2013/01/%E6%B8%A1%E8%BE%BA%E3%83%A1%E3%83%B3%E3%83%90%E3%83%BC%E5%86%99%E7%9C%9F.png">
						</div>
					</div>
				</article>
				<article class="clearfix">
					<img class="posts-thumb" src="./images/top/posts/thumb/thumb.png">
					<div class="posts-info">
						<span class="category">インタビュー</span>
						<span class="date">2016/09/10</span>
						<h3 class="title">
							＜CRAZY LIFE LAB＞成功が約束された９０点の未来か、失敗するかもしれない１００点を超える未来か
						</h3>
						<div class="writer clearfix">
							<div class="writer-name">
								<span class="name">渡辺さゆり</span>
							</div>
							<img class="writer-photo" src="http://wadaiko-sai.com/wp-content/uploads/2013/01/%E6%B8%A1%E8%BE%BA%E3%83%A1%E3%83%B3%E3%83%90%E3%83%BC%E5%86%99%E7%9C%9F.png">
						</div>
					</div>
				</article>
				<article class="clearfix">
					<img class="posts-thumb" src="./images/top/posts/thumb/thumb.png">
					<div class="posts-info">
						<span class="category">インタビュー</span>
						<span class="date">2016/09/10</span>
						<h3 class="title">
							＜CRAZY LIFE LAB＞成功が約束された９０点の未来か、失敗するかもしれない１００点を超える未来か
						</h3>
						<div class="writer clearfix">
							<div class="writer-name">
								<span class="name">渡辺さゆり</span>
							</div>
							<img class="writer-photo" src="http://wadaiko-sai.com/wp-content/uploads/2013/01/%E6%B8%A1%E8%BE%BA%E3%83%A1%E3%83%B3%E3%83%90%E3%83%BC%E5%86%99%E7%9C%9F.png">
						</div>
					</div>
				</article>
				<article class="clearfix">
					<img class="posts-thumb" src="./images/top/posts/thumb/thumb.png">
					<div class="posts-info">
						<span class="category">インタビュー</span>
						<span class="date">2016/09/10</span>
						<h3 class="title">
							＜CRAZY LIFE LAB＞成功が約束された９０点の未来か、失敗するかもしれない１００点を超える未来か
						</h3>
						<div class="writer clearfix">
							<div class="writer-name">
								<span class="name">渡辺さゆり</span>
							</div>
							<img class="writer-photo" src="http://wadaiko-sai.com/wp-content/uploads/2013/01/%E6%B8%A1%E8%BE%BA%E3%83%A1%E3%83%B3%E3%83%90%E3%83%BC%E5%86%99%E7%9C%9F.png">
						</div>
					</div>
				</article>
			</section>
			<section class="posts dialy">
				<article class="clearfix">
					<img class="posts-thumb" src="./images/top/posts/thumb/thumb.png">
					<div class="posts-info">
						<span class="category">レポート</span>
						<span class="date">2016/09/10</span>
						<h3 class="title">
							＜CRAZY LIFE LAB＞成功が約束された９０点の未来か、失敗するかもしれない１００点を超える未来か
						</h3>
						<div class="writer clearfix">
							<div class="writer-name">
								<span class="name">渡辺さゆり</span>
							</div>
							<img class="writer-photo" src="http://wadaiko-sai.com/wp-content/uploads/2013/01/%E6%B8%A1%E8%BE%BA%E3%83%A1%E3%83%B3%E3%83%90%E3%83%BC%E5%86%99%E7%9C%9F.png">
						</div>
					</div>
				</article>
				<article class="clearfix">
					<img class="posts-thumb" src="./images/top/posts/thumb/thumb.png">
					<div class="posts-info">
						<span class="category">レポート</span>
						<span class="date">2016/09/10</span>
						<h3 class="title">
							＜CRAZY LIFE LAB＞成功が約束された９０点の未来か、失敗するかもしれない１００点を超える未来か
						</h3>
						<div class="writer clearfix">
							<div class="writer-name">
								<span class="name">渡辺さゆり</span>
							</div>
							<img class="writer-photo" src="http://wadaiko-sai.com/wp-content/uploads/2013/01/%E6%B8%A1%E8%BE%BA%E3%83%A1%E3%83%B3%E3%83%90%E3%83%BC%E5%86%99%E7%9C%9F.png">
						</div>
					</div>
				</article>
				<article class="clearfix">
					<img class="posts-thumb" src="./images/top/posts/thumb/thumb.png">
					<div class="posts-info">
						<span class="category">レポート</span>
						<span class="date">2016/09/10</span>
						<h3 class="title">
							＜CRAZY LIFE LAB＞成功が約束された９０点の未来か、失敗するかもしれない１００点を超える未来か
						</h3>
						<div class="writer clearfix">
							<div class="writer-name">
								<span class="name">渡辺さゆり</span>
							</div>
							<img class="writer-photo" src="http://wadaiko-sai.com/wp-content/uploads/2013/01/%E6%B8%A1%E8%BE%BA%E3%83%A1%E3%83%B3%E3%83%90%E3%83%BC%E5%86%99%E7%9C%9F.png">
						</div>
					</div>
				</article>
				<article class="clearfix">
					<img class="posts-thumb" src="./images/top/posts/thumb/thumb.png">
					<div class="posts-info">
						<span class="category">レポート</span>
						<span class="date">2016/09/10</span>
						<h3 class="title">
							＜CRAZY LIFE LAB＞成功が約束された９０点の未来か、失敗するかもしれない１００点を超える未来か
						</h3>
						<div class="writer clearfix">
							<div class="writer-name">
								<span class="name">渡辺さゆり</span>
							</div>
							<img class="writer-photo" src="http://wadaiko-sai.com/wp-content/uploads/2013/01/%E6%B8%A1%E8%BE%BA%E3%83%A1%E3%83%B3%E3%83%90%E3%83%BC%E5%86%99%E7%9C%9F.png">
						</div>
					</div>
				</article>
			</section>
		</main>

		<aside class="sidebar">
			<section class="recruit">
				<img src="http://www.zeal-a.jp/images/recruit2016_bnr.jpg">
			</section>
			<section class="instagram">
				<div class="js-slider slider">
					<img src="./images/instagram/i1.jpg">
					<img src="./images/instagram/i2.jpg">
					<img src="./images/instagram/i3.jpg">
					<img src="./images/instagram/i4.jpg">
					<img src="./images/instagram/i5.jpg">
					<img src="./images/instagram/i6.jpg">
					<img src="./images/instagram/i7.jpg">
					<img src="./images/instagram/i1.jpg">
					<img src="./images/instagram/i2.jpg">
					<img src="./images/instagram/i3.jpg">
					<img src="./images/instagram/i4.jpg">
					<img src="./images/instagram/i5.jpg">
					<img src="./images/instagram/i6.jpg">
					<img src="./images/instagram/i7.jpg">
					<img src="./images/instagram/i1.jpg">
					<img src="./images/instagram/i2.jpg">
					<img src="./images/instagram/i3.jpg">
					<img src="./images/instagram/i4.jpg">
					<img src="./images/instagram/i5.jpg">
					<img src="./images/instagram/i6.jpg">
					<img src="./images/instagram/i7.jpg">
				</div>
			</section>
			<section class="facebook">	
				<div class="fb-page" data-href="https://www.facebook.com/crazyincjapan" data-width="250" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/crazyincjapan" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/crazyincjapan">CRAZY, Inc.（株式会社CRAZY）</a></blockquote></div>
			</section>
			<section class="official">
				<img src="http://www.zeal-a.jp/images/recruit2016_bnr.jpg">
			</section>
		</aside>
	</div>
	<% include _footer %>
	<% include _script %>
</body>
</html>
