<!DOCTYPE html>
<html lang="jp">
<head>
  <% include _head %>
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.7";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <% include _header %>
  <div class="wrapper clearfix">
    <main class="main">
      <section class="posts">

        <article class="post daily clearfix">
          <div class="post-date">
            <span class="post-date-month">10</span>
            <span class="post-date-day">23</span>
            <span class="post-date-youbi">Fri</span>
          </div>
          <div class="post-anchor clearfix">
            <span class="post-category"></span>
            <a class="post-thumb clearfix">
              <img class="post-thumb-img" src="./images/contents/thumb/thumb.png">
            </a>
            <div class="post-info">
              <h3 class="post-title">成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か</h3>
              <div class="post-writer">
                <img class="post-writer-photo" src="./images/contents/writer/profile.png">
                <div class="post-writer-info">
                  <p class="post-writer-title">WRITER</p>
                  <p class="post-writer-name">渡辺さゆり</p>
                </div>
              </div>
            </div>
          </div>
        </article>

        <article class="post daily clearfix">
          <div class="post-date">
            <span class="post-date-month">10</span>
            <span class="post-date-day">23</span>
            <span class="post-date-youbi">Fri</span>
          </div>
          <div class="post-anchor clearfix">
            <span class="post-category"></span>
            <a class="post-thumb clearfix">
              <img class="post-thumb-img" src="./images/contents/thumb/thumb.png">
            </a>
            <div class="post-info">
              <h3 class="post-title">成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か</h3>
              <div class="post-writer">
                <img class="post-writer-photo" src="./images/contents/writer/profile.png">
                <div class="post-writer-info">
                  <p class="post-writer-title">WRITER</p>
                  <p class="post-writer-name">渡辺さゆり</p>
                </div>
              </div>
            </div>
          </div>
        </article>

        <article class="post daily clearfix">
          <div class="post-date">
            <span class="post-date-month">10</span>
            <span class="post-date-day">23</span>
            <span class="post-date-youbi">Fri</span>
          </div>
          <div class="post-anchor clearfix">
            <span class="post-category"></span>
            <a class="post-thumb clearfix">
              <img class="post-thumb-img" src="./images/contents/thumb/thumb.png">
            </a>
            <div class="post-info">
              <h3 class="post-title">成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か</h3>
              <div class="post-writer">
                <img class="post-writer-photo" src="./images/contents/writer/profile.png">
                <div class="post-writer-info">
                  <p class="post-writer-title">WRITER</p>
                  <p class="post-writer-name">渡辺さゆり</p>
                </div>
              </div>
            </div>
          </div>
        </article>


        <article class="post daily clearfix">
          <div class="post-date">
            <span class="post-date-month">10</span>
            <span class="post-date-day">23</span>
            <span class="post-date-youbi">Fri</span>
          </div>
          <div class="post-anchor clearfix">
            <span class="post-category"></span>
            <a class="post-thumb clearfix">
              <img class="post-thumb-img" src="./images/contents/thumb/thumb.png">
            </a>
            <div class="post-info">
              <h3 class="post-title">成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か</h3>
              <div class="post-writer">
                <img class="post-writer-photo" src="./images/contents/writer/profile.png">
                <div class="post-writer-info">
                  <p class="post-writer-title">WRITER</p>
                  <p class="post-writer-name">渡辺さゆり</p>
                </div>
              </div>
            </div>
          </div>
        </article>

        <article class="post daily clearfix">
          <div class="post-date">
            <span class="post-date-month">10</span>
            <span class="post-date-day">23</span>
            <span class="post-date-youbi">Fri</span>
          </div>
          <div class="post-anchor clearfix">
            <span class="post-category"></span>
            <a class="post-thumb clearfix">
              <img class="post-thumb-img" src="./images/contents/thumb/thumb.png">
            </a>
            <div class="post-info">
              <h3 class="post-title">成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か</h3>
              <div class="post-writer">
                <img class="post-writer-photo" src="./images/contents/writer/profile.png">
                <div class="post-writer-info">
                  <p class="post-writer-title">WRITER</p>
                  <p class="post-writer-name">渡辺さゆり</p>
                </div>
              </div>
            </div>
          </div>
        </article>

        <article class="post daily clearfix">
          <div class="post-date">
            <span class="post-date-month">10</span>
            <span class="post-date-day">23</span>
            <span class="post-date-youbi">Fri</span>
          </div>
          <div class="post-anchor clearfix">
            <span class="post-category"></span>
            <a class="post-thumb clearfix">
              <img class="post-thumb-img" src="./images/contents/thumb/thumb.png">
            </a>
            <div class="post-info">
              <h3 class="post-title">成功が約束された90点の未来か、失敗するかもしれない100点を超える未来か</h3>
              <div class="post-writer">
                <img class="post-writer-photo" src="./images/contents/writer/profile.png">
                <div class="post-writer-info">
                  <p class="post-writer-title">WRITER</p>
                  <p class="post-writer-name">渡辺さゆり</p>
                </div>
              </div>
            </div>
          </div>
        </article>

      </section>
      <section class="pagination">1,2,3,4,5,,,,</section>
    </main>
    <% include _sidebar %>
  </div>
  <% include _footer %>
  <% include _script %>
</body>
</html>
