<!DOCTYPE html>
<html lang="jp">
<head>
  <% include _head %>
</head>
<body>
  <% include _fb-likebox %>
  <% include _header %>
  <div class="wrapper clearfix">
    <main class="main">
      <p class="archive-title hr-title"><span class="hr-title-inner"><span class="hr-title-bold">ウエディング</span>の検索結果</span></p>
      <p class="no-article">該当する記事がありません。</p>
      <section class="posts">

        <% include _post %>
        <% include _post %>
        <% include _post %>
        <% include _post %>
        <% include _post %>
        <% include _post %>
        <% include _post %>
        <% include _post %>
        <% include _post %>
        <% include _post %>

      </section>
      <% include _pagination %>
    </main>
    <% include _sidebar %>
  </div>
  <% include _footer %>
  <% include _script %>
</body>
</html>
