<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body class="clearfix">
<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.7";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<div class="topAnime">
		<div class="circle work js-circle js-left">働くこと</div>
		<div class="circle live js-circle js-right">生きること</div>
	</div>
	<% include _script %>
</body>
</html>
